body{
    background-color: lightgrey;
    font-family: sans-serif;
}

.app {
    width: 50%;
    margin: auto;
    text-align: center;
}

.eventbox {
    text-align: left;
    display: flex;
    padding: 50px;
    height: 300px;
    background-color: white;
    background-clip: content-box;
}

.eventcontent {
    padding-left: 20px;
    width: 100%;
    position: relative;
}

.eventphoto {
    display: flex;
}

.viewbuttoncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    text-align: right;
}

.eventviewbutton {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 2px;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: bold;
}

.eventviewbutton:hover {
    border: 2px solid black;
}
