@import url(‘https://fonts.googleapis.com/css?family=Inter’);
.password {
    text-security: circle; /* IE/Safari */
    -moz-text-security: circle; /* FireFox */
    -webkit-text-security: circle; /* Chrome/Safari  */
}

body{
    background-color: lightgrey;
    font-family: Inter, sans-serif;
    margin: 0;
}

.app {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.content {
    display: flex;
    justify-content: center;
}

.loginbox {
    text-align: center;
    display: flex;
    width: 400px;
    height: auto;
    background-color: white;
    background-clip: content-box;
    /* thoughts? */
    border-radius: 15px 0px 15px 0px
}

.logincontent {
    width: 100%;
    position: relative;
}

.loginform {
}

.loginbutton {
	background-color: lightgrey;
	width: 97px;
    padding: 8px 15px 6px 15px;
    border: 2px solid #00000000;
    border-radius: 30px;
    margin: 6px;
    margin-bottom: 30px;
}

.loginbutton:hover {
    background-color: orange;
    color: white;
}

.eventlist {
    width: 100%;
}

.eventbox {
    text-align: left;
    display: flex;
    padding: 50px;
    height: 300px;
    background-color: white;
    background-clip: content-box;
}

.eventcontent {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: relative;
}

.eventphoto {
    display: flex;
}

.viewbuttoncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    text-align: right;
}

.eventviewbutton {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.eventviewbutton:hover {
    border: 2px solid black;
}

.bar {
    background-color: white;
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 2px 4px #0000004a;
}

.bar-item {
    text-decoration: none;
    padding: 8px 15px 6px 15px;
    margin: 6px;
    color: black;
    float: right;
    border-radius: 50px;
}

.bar-item:hover {
    color: white;
    background-color: orange;
}

.bar-important {
    background-color: coral;
}
.bar-important:hover {
    background-color: orange;
}

.bar-search {
    margin: 6px;
    padding: 8px 15px 6px 15px;
    border-radius: 50px;
    border: 2px solid black;
    font-family: sans-serif, FontAwesome;
}
.logo {
    text-decoration: none;
    padding-right: 10px;
    margin-top: 2px;
    float: left;
    width: 40px;
}

.white-box {
    background-color: white;
}

.angled-corners {
    border-radius: 15px 0px 15px 0px;
}

.event-creation-box {
    width: 100%
}

input {
    margin: 6px;
    padding: 8px 15px 6px 15px;
    border-radius: 50px;
    border: 2px solid black;
    font-family: sans-serif, FontAwesome;
}

.input-field {
    border: 2px solid black;
}
/* used to position create + share buttons at bottom right */
.buttons {
    right: 0px;
    bottom: 0px;
    position: absolute;
    padding: 5px;
}
.done-button {
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin: 6px;
    color: white;
    background-color: coral;
    border-radius: 50px;
    border-width: 0px;
}

.done-button:hover {
    background-color: orange;
}

.inline {
    display: inline-block;
    float: left;
}
.top-align {
    vertical-align:top;
}

.event-image-select {
    height: 400px;
    padding-right: 20px
}

.details {
    text-align:left;
    height:400px;
    position: relative;
    flex-grow: 1;
    width: calc(100% - 440px);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.share-div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 20px;
}