.password {
    -moz-text-security: circle; /* FireFox */
    -webkit-text-security: circle; /* Chrome/Safari  */
}

body{
    background-color: lightgrey;
    font-family: Azeret Mono, sans-serif;
    margin: 0;
}

.app {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

h2 {
    margin-bottom: -10px;
}

.content {
    display: grid;
    justify-content: center;
}

.loginbox {
    text-align: center;
    display: block;
    width: 400px;
    height: auto;
    background-color: white;
    background-clip: content-box;
    border-radius: 25px;
}

.logincontent {
    width: 100%;
    position: relative;
}

.loginform {
    margin-top: 20px;
}

.loginbutton {
    font-family: Azeret Mono;
	background-color: lightgrey;
	width: 112px;
    padding: 5px;
    border: 2px solid #00000000;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
}


.loginbutton:hover {
    background-color: orange;
    color: white;
}

.eventlist {
    width: 100%;
}

.event-title {
    margin-right: 160px;
}

.eventbox {
    text-align: left;
    display: flex;
    margin: 50px;
    height: 300px;
    width:710px;
    background-color: white;
    background-clip: content-box;
    border-radius: 25px;
}

.eventcontent {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: relative;
}

.eventphoto {
    display: flex;
    border-radius: 25px 0px 0px 25px;
}

.eventactioncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    text-align: right;
}

.info {
    margin: 0px 6px 6px 0px;
    color: grey;
}

.location {
    margin: 0px 8px 0px 0px;
}

.event-share-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 10px 15px 15px;
}

hr {
    margin-top: 20px;
}

.eventviewbutton {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.eventviewbutton:hover {
    border: 2px solid black;
}

.bar {
    background-color: white;
    display: flex;
    height: 70px;
    width: 100%;
    padding: 8px;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 2px 16px #0000002a;
}

.bar-item {
    text-decoration: none;
    padding: 8px 15px 6px 15px;
    margin: 20px;
    margin-bottom: 18px;
    color: black;
    background-color: lightgrey;
    float: right;
    border-radius: 50px;
}

.bar-item:hover {
    color: white;
    background-color: orange;
}

.bar-important {
    background-color: coral;
}
.bar-important:hover {
    background-color: orange;
}

.bar-search {
    margin: 6px;
    padding: 8px 15px 6px 15px;
    border-radius: 50px;
    border: 2px solid black;
    margin: 20px;
    margin-bottom: 18px;
}
.logo {
    text-decoration: none;
    padding-right: 10px;
    margin-top: 15px;
    float: left;
    width: 40px;
}

.white-box {
    background-color: white;
    min-width: 1000px;
    height:400px;
    border-radius: 25px;
}

.angled-corners {
    border-radius: 15px 0px 15px 0px;
}

.event-creation-box {
    width: 100%
}

input {
    margin: 6px;
    padding: 8px 15px 6px 15px;
    border-radius: 50px;
    border: 2px solid black;
    font-family: Azeret Mono, sans-serif, FontAwesome;
}

.input-field {
    border: 2px solid black;
}
/* used to position create + share buttons at bottom right */
.buttons {
    right: 10px;
    bottom: 10px;
    position: absolute;
    padding: 5px;
}
.done-button {
    text-decoration: none;
    padding: 10px;
    margin: 6px;
    margin-top: 8px;
    color: white;
    background-color: coral;
    border-radius: 50px;
    border-width: 0px;
    width:140px;
    font-family: Azeret Mono, sans-serif, FontAwesome;
}

.done-button:hover {
    background-color: orange;
}

.inline {
    display: inline-block;
    float: left;
}
.top-align {
    vertical-align:top;
}

.event-image-select {
    height: 400px;
    padding-right: 20px;
    border-radius: 25px 0px 0px 25px;
}

.details {
    text-align:left;
    height: calc(400px - 20px);
    position: relative;
    flex-grow: 1;
    width: calc(100% - 440px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.large-details {
    width: 80%;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.share-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 540px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background-color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 20px;
    text-align: left;
}

.red-button {
    background-color: red;
}

.wide-input {
    width: 50%;
}

.users-box {
    margin-top: 10px;
    border-left: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 160px);
    padding: 20px;
    position: relative;
}

.user-card {
    margin-bottom: 10px;
    background-color: white;
    width: 90%;
    left: 5%;
    padding: 5px 5px 5px 20px;
    border-radius: 5px;
    display: table;
}

.invite-button {
    width: 45px;
    height: 45px;
    color: white;
    background-color: coral;
    border-radius: 5px;
    border-width: 0px;
    float: right;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 8px;
}

.invite-button:hover {
    background-color: orange;
}

.user-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.user-icon-container {
    border-radius: 50px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: table-cell;
}

.user-icon {
    width: 60px;
    height: 60px;
}

.boldnum {
    font-weight: bold;
}

.response-button {
    font-family: Azeret Mono;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 15px 10px;
    color: white;
    border-radius: 50px;
    border-width: 0px;
    font-size: 16px;
    border: none;
    outline: none;
}

.response-button:hover {
    background-color: orange;
}

.going {
    background-color: lightgreen;
}

.maybe {
    background-color: grey;
}

.notgoing {
    background-color: coral;
}

.profile-picture
{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
}
